<h1>Sign Up</h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="container">
<%= form_for @user, class: "form-horizontal center" do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :username, "Username" %>
    <%= f.text_field :username %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm Pass" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit class: "btn btn-primary" %></div>
<% end %>
</div>


