
<div class="container">
  <%= form_tag goodspots_path, method: :get do %>
    <%= label_tag(:location, "Browse by Location") %>
    <%= select_tag :location, options_for_select(@locations_options, params[:location]), include_blank: true %>
    <%= label_tag(:category, "Browse by Category") %>
    <%= select_tag :category, options_for_select(@categories, params[:category]), :include_blank => true %>
    <%= submit_tag "Go!", class: "btn btn-primary" %>
  <% end %>

  <div class="row">
    <% @goodspots.each do |gs| %>
    <div class="col-lg-3 col-med-4 col-sm-6 col-xm-1 clearfix">
      <p><%= gs.name %></p>
      <p><%= link_to (image_tag (gs.image), :class => "img-responsive"), goodspot_path(gs.id) %></p>
    </div>
  <% end %>
  </div>
</div>
