<!DOCTYPE html>
<html>
<head>
  <title>GoodayApp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <div class= "container header">
    <header>
      <h1>GOODAY!</h1>
    </header>
  </div>



  <nav class="navbar navbar-inverse">
      <div class="container">
        <% if current_user %>

          <div class="user_logout">
            Welcome, <%= current_user.username %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'Logout', session_path('dummy'), method: :delete %>
         </div>


          <a class="btn btn-primary" href="/users/:"current_user.id role="button">Profile</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a class="btn btn-primary" href="/goodspots" role="button">Browse</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a class="btn btn-primary" href="/goodspots/new" role="button">Post</a>


        <% else %>
          <%= link_to 'Login', login_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
      </div>
  </nav>

<main>

<%= yield %>

</main>
</body>
</html>

